footer.container-fluid {
  background-color: #e1e1e1;
}

footer {
  div.footer-social-icons {
    background-color: $light-text-color;
    //padding: 10px 0;

    text-transform: uppercase;
    font-size: 16px;
    div.icons {
      padding: 16px 0;
      div.icon-down {
        float: right;

        /* footer social icons */
        ul.social-network {
          list-style: none;
          display: inline;
          margin-left: 0 !important;
          padding: 0;
        }
        ul.social-network li {
          display: inline;
          margin: 0 5px;
        }

        .social-network a.icoRss:hover {
          background-color: #F56505;
        }
        .social-network a.icoFacebook:hover {
          background-color: #3B5998;
        }
        .social-network a.icoTwitter:hover {
          background-color: #33ccff;
        }
        .social-network a.icoGoogle:hover {
          background-color: #BD3518;
        }
        .social-network a.icoVimeo:hover {
          background-color: #0590B8;
        }
        .social-network a.icoLinkedin:hover {
          background-color: #007bb7;
        }
        .social-network a.icoPinterest:hover {
          background-color: #BD3518;
        }
        .social-network a.icoDribbble:hover {
          background-color: magenta;
        }
        .social-network a.icoLinkedin:hover {
          background-color: #007bb7;
        }
        .social-network a.icoFlickr:hover {
          background-color: magenta;
        }
        .social-network a.icoRss:hover i, .social-network a.icoDribbble:hover i,
        .social-network a.icoPinterest:hover i, .social-network a.icoFlickr:hover i,
        .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
        .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i,
        .social-network a.icoLinkedin:hover i {
          color: #fff;
        }
        a.socialIcon:hover, .socialHoverClass {
          color: #44BCDD;
        }

        .social-circle li a {
          display: inline-block;
          position: relative;
          margin: 0 auto 0 auto;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          text-align: center;
          width: 50px;
          height: 50px;
          font-size: 20px;
        }
        .social-circle li i {
          margin: 0;
          line-height: 50px;
          text-align: center;
        }

        .social-circle li a:hover i, .triggeredHover {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -ms--transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          -ms-transition: all 0.2s;
          transition: all 0.2s;
        }
        .social-circle i {
          color: $title-text-color;
          -webkit-transition: all 0.8s;
          -moz-transition: all 0.8s;
          -o-transition: all 0.8s;
          -ms-transition: all 0.8s;
          transition: all 0.8s;
        }

        a {
          background-color: #D3D3D3;
        }

      }
    }

  }
  div.footer-text-arrow {
    padding: 15px;
    background-color: #53545e;
    color: $textSecondary;
    div.down-footer {
      div.footer-text-one {

        p {
          //margin: 30px;
          line-height: 24px;
        }
      }
      div.footer-arrow {
        float: right;
        ul{
          list-style-type: none;
          padding-left: 0;
        }
        a {
          //text-decoration: none;
          color: $textSecondary;
          img {
            vertical-align: baseline;
          }
        }
      }
    }
    div.copyright {
      p {
        color: $light-black-color;
        a.soft-g {
          color: $textSecondary;
        }
      }

    }
    div.middle-copy-text {
      text-align: right;
      a {
        color: $textSecondary;
      }
    }

  }

}
@media screen and (max-device-width: 992px) {
  footer.container-fluid {
    background-color: #e1e1e1;
  }

  footer {
    div.footer-social-icons {
      background-color: $light-text-color;
      //padding: 10px 0;
      text-transform: uppercase;
      font-size: 12px;
      footer-social-text{
        h2{
          padding: 16px 0;
        }
      }


      div.icons {
        padding: 16px 0;
        div.icon-down {
          float: right;

          /* footer social icons */
          ul.social-network {
            list-style: none;
            display: inline;
            margin-left: 0 !important;
            padding: 0;
          }
          ul.social-network li {
            display: inline;
            margin: 0 5px;
          }

          .social-network a.icoRss:hover {
            background-color: #F56505;
          }
          .social-network a.icoFacebook:hover {
            background-color: #3B5998;
          }
          .social-network a.icoTwitter:hover {
            background-color: #33ccff;
          }
          .social-network a.icoGoogle:hover {
            background-color: #BD3518;
          }
          .social-network a.icoVimeo:hover {
            background-color: #0590B8;
          }
          .social-network a.icoLinkedin:hover {
            background-color: #007bb7;
          }
          .social-network a.icoPinterest:hover {
            background-color: #BD3518;
          }
          .social-network a.icoDribbble:hover {
            background-color: magenta;
          }
          .social-network a.icoLinkedin:hover {
            background-color: #007bb7;
          }
          .social-network a.icoFlickr:hover {
            background-color: magenta;
          }
          .social-network a.icoRss:hover i, .social-network a.icoDribbble:hover i,
          .social-network a.icoPinterest:hover i, .social-network a.icoFlickr:hover i,
          .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
          .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i,
          .social-network a.icoLinkedin:hover i {
            color: #fff;
          }
          a.socialIcon:hover, .socialHoverClass {
            color: #44BCDD;
          }

          .social-circle li a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
          }
          .social-circle li i {
            margin: 0;
            line-height: 50px;
            text-align: center;
          }

          .social-circle li a:hover i, .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
          }
          .social-circle i {
            color: $title-text-color;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
          }

          a {
            background-color: #D3D3D3;
          }

        }
      }

    }
    div.footer-text-arrow {
      padding: 15px;
      background-color: #53545e;
      color: $textSecondary;
      div.down-footer {
        div.footer-text-one {

          p {
            //margin: 30px;
            line-height: 24px;
          }
        }
        div.footer-arrow {
          float: right;
          ul{
            list-style-type: none;
            padding-left: 0;
          }
          a {
            //text-decoration: none;
            color: $textSecondary;
            img {
              vertical-align: baseline;
            }
          }
        }
      }
      div.copyright {
        p {
          color: $light-black-color;
          a.soft-g {
            color: $textSecondary;
          }
        }

      }
      div.middle-copy-text {
        text-align: right;
        a {
          color: $textSecondary;
        }
      }

    }

  }
}
@media screen and (max-device-width: 768px) {
  footer.container-fluid {
    background-color: #e1e1e1;
  }

  footer {
    div.footer-social-icons {
      background-color: $light-text-color;
      //padding: 10px 0;
      text-transform: uppercase;
      div.footer-social-text{
        text-align: center;
        h2.title-footer{
          font-size: 13px;
          padding: 16px 0;
        }
      }


      div.icons {
        padding: 16px 0;
        div.icon-down {
          text-align: center;
          width: 100%;

          /* footer social icons */
          ul.social-network {
            list-style: none;
            display: inline;
            margin-left: 0 !important;
            padding: 0;
          }
          ul.social-network li {
            display: inline;
            margin: 0 5px;
          }

          .social-network a.icoRss:hover {
            background-color: #F56505;
          }
          .social-network a.icoFacebook:hover {
            background-color: #3B5998;
          }
          .social-network a.icoTwitter:hover {
            background-color: #33ccff;
          }
          .social-network a.icoGoogle:hover {
            background-color: #BD3518;
          }
          .social-network a.icoVimeo:hover {
            background-color: #0590B8;
          }
          .social-network a.icoLinkedin:hover {
            background-color: #007bb7;
          }
          .social-network a.icoPinterest:hover {
            background-color: #BD3518;
          }
          .social-network a.icoDribbble:hover {
            background-color: magenta;
          }
          .social-network a.icoLinkedin:hover {
            background-color: #007bb7;
          }
          .social-network a.icoFlickr:hover {
            background-color: magenta;
          }
          .social-network a.icoRss:hover i, .social-network a.icoDribbble:hover i,
          .social-network a.icoPinterest:hover i, .social-network a.icoFlickr:hover i,
          .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
          .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i,
          .social-network a.icoLinkedin:hover i {
            color: #fff;
          }
          a.socialIcon:hover, .socialHoverClass {
            color: #44BCDD;
          }

          .social-circle li a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 20px;
          }
          .social-circle li i {
            margin: 0;
            line-height: 50px;
            text-align: center;
          }

          .social-circle li a:hover i, .triggeredHover {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
          }
          .social-circle i {
            color: $title-text-color;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
          }

          a {
            background-color: #D3D3D3;
          }

        }
      }

    }
    div.footer-text-arrow {
      padding: 15px;
      background-color: #53545e;
      color: $textSecondary;
      div.down-footer {
        div.footer-text-one {

          p {
            //margin: 30px;
            line-height: 24px;
          }
        }
        div.footer-arrow {
          list-style-type: none;
          ul{
            list-style-type: none;
            padding-left: 0;
          }
          a {
            //text-decoration: none;
            color: $textSecondary;
            img {
              vertical-align: baseline;
            }
          }
        }
      }
      div.copyright {
        p {
          color: $light-black-color;
          a.soft-g {
            color: $textSecondary;
          }
        }

      }
      div.middle-copy-text {
        text-align: right;
        a {
          color: $textSecondary;
        }
      }

    }

  }
}