body{
  font-family: $font-open-sans;
  header.container-fluid{
    background-color: #e1e1e1;;


  }
  header {
    div.head {
      background-color: #53545e;
      color: #fff;
      padding: 19px 0;
      div.img-one{
        img{
          //margin-left: 45px;
          // /text-align: center;
          //margin: auto;
          //display: block;
        }
      }
      div{
        p{
          text-align: center;
          font-weight:bold;
        }
      }
      @media screen and (max-device-width: 768px) {
        div{
          p{
            text-align: center;
            font-weight:bold;
            font-size: 12px;

          }
        }
      }
    }
  }
}
