main.container-fluid {
  background-color: #f1f1f1;
}

main {
  div.all-file {
    background-color: $textSecondary;
    div.hight-main {
      div.first-img {
        padding: 30px;
        text-align: center;
        img{
          width: 60%;
          height: auto;
        }
      }
      div.first-text {
        span {
          color: #bfc0c3;
          font-size: 13px;
        }
      }
    }
    div.middle-main {
      .first-block{

      }
      img{
        width: 60%;
        height: auto;
      }

    }
    div.add-photo{
      img{
        //width: 30%;
        width: 100%;
        height: auto;
      }
    }
    .block-down{

      div.down-block{
        h2{

        }
      }
      div.down-block-two{
        div{
          a{
            margin: 0 0 30px 0;
          }
        }
      }
    }

  }

  .title{
    text-transform: uppercase;
    font-family: $font-open-sans, 700;

  }

}