<footer class="container-fluid">

    <div class="footer-social-icons container">
        <div class="footer-social-text col-md-4 col-sm-3 col-xs-12">
            <h2 class="title">Stay Connected</h2>
        </div>
        <div class="icons col-md-7 col-md-offset-1 col-sm-9 col-xs-12">
            <div class="icon-down">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="icoPinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoDribbble" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="icoFlickr" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                </ul>
            </div>


        </div>
    </div>
    <div class="footer-text-arrow container">
        <div class="down-footer">
            <div class="footer-text-one col-md-8 col-sm-8 col-xs-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate delectus dolorem
                    dolorum
                    enim facilis, id in incidunt, laborum maxime mollitia odio perspiciatis porro quae, quidem quisquam
                    rem
                    tempore voluptatibus!
                </p>
            </div>
            <div class="col-md-offset-2"></div>
            <div class="footer-arrow col-md-2">
                <ul>
                    <li><img src="img/arrow_soft.png"/> &ensp; <a href="#">Quick Link One</a><br></li>
                    <li><img src="img/arrow_soft.png"/> &ensp; <a href="#">Quick Link Two</a><br></li>
                    <li><img src="img/arrow_soft.png"/> &ensp; <a href="#">Quick Link Three</a><br></li>
                    <li><img src="img/arrow_soft.png"/> &ensp; <a href="#">Quick Link four</a><br></li>
                </ul>


            </div>
        </div>
        <div class="line col-md-12 col-sm-12 col-xs-12">
            <hr>
        </div>
        <div class="copyright col-md-7 col-sm-7 col-xs-7">
            <div class="first-copy-text">
                <p>Copyright 2015 <a href="#" class="soft-g"> SoftGroup. </a> All Rights Reserved.</p>
            </div>
        </div>
        <div class="middle-copy-text col-md-5 col-sm-5 col-xs-5">
            <p>
                <a href="#">View Online</a> | <a href="#">Unsubscribe</a>
            </p>

        </div>

    </div>


</footer>
<script src="js/main.js"></script>
</body>
</html>