<main class="container-fluid">
    <div class="all-file container">
        <div class="hight-main">
            <div class="first-img col-md-12">
                <img src="img/first-img.png"/>
            </div>
            <div class="first-text col-md-12">
                <h1 class="title">
                    Larger Item Heading
                </h1>
                <p>
                <span class="gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolores eveniet ex ipsa natus
                    possimus quaerat totam unde! Laborum, voluptas, voluptatum? Adipisci enim libero non numquam
                    possimus tempora, tenetur vero.</span>
                </p>
            </div>
            <div class="col-md-12">
                <a href="#" class="button-first">DETAILS</a>
            </div>
            <div class="line col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

        </div>
        <div class="middle-main">
            <div class="first-block col-md-6 col-sm-6 col-xs-6">
                <img src="img/middle-imj-one.png"/>
                <div class="middle-text">
                    <h2 class="title">
                        Small item
                    </h2>
                    <p><span class="gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consectetur
                    consequuntur distinctio doloribus, earum est excepturi facilis hic id ipsa nam nulla quaerat
                    ratione sed totam vel vitae, voluptatibus.</span></p>
                </div>
            </div>
            <div class="first-block col-md-6 col-sm-6 col-xs-6">
                <img src="img/middle-imj-two.png"/>
                <div class="middle-text">
                    <h2 class="title">
                        Small item
                    </h2>
                    <p><span class="gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consectetur
                    consequuntur distinctio doloribus, earum est excepturi facilis hic id ipsa nam nulla quaerat
                    ratione sed totam vel vitae, voluptatibus.</span></p>
                </div>
            </div>
            <div class="double-button col-md-6 col-sm-6 col-xs-6">
                <div>
                    <a href="#" class="button-first">DETAILS</a>
                </div>
            </div>
            <div class="double-button col-md-6 col-sm-6 col-xs-6">
                <div>
                    <a href="#" class="button-first">DETAILS</a>
                </div>
            </div>
        </div>
        <div class="line col-md-12 col-sm-12 col-xs-12">
            <hr>
        </div>
        <!--<div class="add-photo barabonials">-->
            <!--<div class="add-one barabonials-slider col-md-12 col-sm-12 col-xs-12">-->
                <!--<img src="http://fakeimg.pl/350x200/?text=Beautiful picture">-->
                <!--<img src="http://placeimg.com/350/200/tech">-->
                <!--<img src="http://fakeimg.pl/350x200/?text=favorite picture">-->
            <!--</div>-->
        <!--</div>-->
        <div class="add-photo">
            <div class="add-one col-md-4 col-sm-4 col-xs-4">
                <img src="http://fakeimg.pl/350x200/?text=Beautiful picture">
            </div>
            <div class="add-two col-md-4 col-sm-4 col-xs-4">
                <img src="http://placeimg.com/350/200/tech">
            </div>
            <div class="add-three col-md-4 col-sm-4 col-xs-4">
                <img src="http://fakeimg.pl/350x200/?text=favorite picture">
            </div>
        </div>
        <div class="line col-md-12 col-sm-12 col-xs-12">
            <hr>
        </div>
        <div class="block-down">
            <div class="down-block col-md-12 col-sm-12 col-xs-12">
                <h2 class="title">
                    Blog Post Title One
                </h2>
                <p><span class="gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consectetur
                    consequuntur distinctio doloribus, earum est excepturi facilis hic id ipsa nam nulla quaerat
                    ratione sed totam vel vitae, voluptatibus.</span>
                </p>
                <div>
                    <a href="#" class="button-first">DETAILS</a>
                </div>
            </div>

            <div class="line col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="down-block-two col-md-12 col-sm-12 col-xs-12">
                <h2 class="title">
                    Blog Post Title Two
                </h2>
                <p><span class="gray-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consectetur
                    consequuntur distinctio doloribus, earum est excepturi facilis hic id ipsa nam nulla quaerat
                    ratione sed totam vel vitae, voluptatibus.</span>
                </p>
                <div>
                    <a href="#" class="button-first">DETAILS</a>
                </div>
            </div>
        </div>
    </div>


</main>