.button-first{
  display: inline-block;
  width: 79px;
  height: 36px;
  background-color: #53545e;
  color: $light-text;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  &:hover{
    background-color: $light-black-color;
    text-decoration: none;
    color: $light-text;
  }


}
