$mini-text-color: #bfc0c3;
$title-text-color: #53545e;
$light-text-color: #f1f1f1;
$light-black-color: #a6a7b0;
$light-text: #fff;
.gray-text{
  color: $mini-text-color;

}
$bgColorPrimaryDark: #f1f1f1;
$bgColorPrimaryLight: #e1e1e1;
$textPrimary: #777777;
$textSecondary: #fff;
$bgColorFooter: #4e4e4e;
$itemColor1: #666666;
$IconColor: #ccc;



//$p1: #14a85c;
//$p1l1: lighten($p1, 10%);
//$p1l2: lighten($p1, 20%);
//$p1l3: lighten($p1, 30%);
//
//$p1d1: darken($p1, 10%);
//$p1d2: darken($p1, 20%);
//$p1d3: darken($p1, 30%);
