/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

.icon-HiW-1 {
  background-image: url(/img/sprite.png);
  background-position: 23px -2615px;
  width: 21px;
  height: 31px;
  display: block;
}
.icoFlickr1{
  background-image: url(/img/flickr.png);
  width: 19px;
  height: 8px;
  display: block;
  bottom: 8px;

}



