body{
  @include font(13px,$font-open-sans,400);
  max-width: 1920px;
  min-width: 320px;
}

h1{
  @include font(18px,$font-open-sans,700);
  text-transform: uppercase;
}

@function convertToEm($px, $context: 16px){
  @return ($px / $context) * 1em;
}

@function convertToRem($px, $context: 16px){
  @return ($px / $context) * 1rem;
}
.title{
  color: $title-text-color;

}
